<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.shadow.mapper.SysUserMapper">
    <resultMap id="sysUserResultMap" type="com.github.shadow.entity.SysUser">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="nick_name" property="nickName"/>
        <result column="avatar" property="avatar"/>
        <result column="sex_type" property="sexType"/>
        <result column="avatar" property="avatar"/>
        <result column="email" property="email"/>
        <result column="phone_no" property="phoneNo"/>
        <result column="delete_status" property="deleteStatus"/>
        <result column="permissions" property="permissions"/>
        <result column="extra" property="extra"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>
